.Article-container{
    display:flex;
    flex-direction: column;
}

.title-url{
    display: flex;
    gap:1rem;
    align-items: baseline;
}

.title-url a{
text-decoration: none;
color: grey;
height: fit-content;
}

.description{
    display: flex;
    gap:2rem;
}
.ordered_list li{
    counter-increment: li;
  display: list-item;
}
.ordered_list li::marker{
    display: list-item;
  content: "#" counter(li) " ";
  color: lightsalmon;
  font-weight: bold;
}